<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Real Time Web</title>
  <link rel="stylesheet" href="/styles/styles.css">
  <script src="/script/script.js" defer></script>

</head>
<body>
    <header>

    </header>
    
  <main>
    <body>
        <h1>Web Girlies</h1>
        <main>

          
          <section>
            <p id="time"></p>
          </section>
          <section>
            <form>
             
              <input type="text" id="username-input" placeholder="Enter your username">
              <button class="create-user-btn">Join chat</button>
            </form>
          </section>
          
          
          <section>
            <button class="back-btn">go back</button>
            <div class="feedback"></div>
            <ul></ul>
            <form class="message-input">
              <input type="text" id="message-input" autocomplete="off" placeholder="Type your message..">
              <button type="submit" id="message-button"><span>Send</span></button>
            </form>
            <p id="error"></p>
          </section>

          <section>

          </section>
        </main>
    
      
        <script src="/socket.io/socket.io.js"></script>
     
  

</body>
</html>